body {
	color: #0C030B;
	background: #F1ECE0;
	font-family: 'Roboto', sans-serif;
}

h1 {
	margin-bottom: .7rem;
	text-align: center;
}


.container {
	margin: 7% 10%;
}

.users {
	margin-top: .3rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;

	min-width: 8rem;
	max-width: 8rem;
	max-height: 11.45rem;
	margin: 1.25rem;
	padding: 0 0 5px 0;

	background: #98B8C0;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);

	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.user__info {
	background-color: #98B8C0;

	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: -webkit-transform .2s ease-in-out;
	-o-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.user__info__name {
	min-height: 2.3rem;
	margin-top: .5rem;
	margin-bottom: 0;
	padding-left: .6rem;
	padding-right: .6rem;

	font-weight: 400;
}

.user__placeholder {
	min-height: 8rem;
}

.user__image {
	width: 100%;
}

.user__info__show-more {
	margin-top: 1rem;
	font-size: .8rem;
}

.move-up {
	-webkit-transform: translateY(-1.8rem);
	    -ms-transform: translateY(-1.8rem);
	        transform: translateY(-1.8rem);
}


.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	visibility: hidden;
}

.sort__label {
	margin-left: auto;
	margin-top: 1.2rem;
	font-size: 1rem;
	opacity: .8;
}

.sort__select {
	width: 121px;
	height: 35px;
	margin: .75rem 2rem .75rem .8rem;
	padding: .5rem;

	color: #0C030B;
	background: url("../../assets/icons/arrow.svg") right no-repeat;
	border-radius: .3rem;

	font-size: .8rem;
	font-family: inherit;
	
	opacity: .8;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.sort__select:focus {
	-webkit-box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	outline: none;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(13, 13, 13, .2);
	opacity: 0;
	z-index: -1;
}

.modal__info {
	position: fixed;
	vertical-align: middle;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	width: 18.75rem;
	height: 22.9rem;

	background: #F1ECE0;
	border-radius: .625rem;

	font-size: .9rem;
	text-align: center;

	overflow: hidden;
}

.modal__info__image {
	height: 132px;
}

.modal__closeButton {
	width: 10%;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: -.125rem;
	padding: .3rem .5rem;

	color: #F1ECE0;
	background: #580A15;
	border-radius: 0 0 0 .125rem;

	font-size: 1.2rem;
	cursor: pointer;
}

.modal__backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal__info__text {
	padding: .8rem 1.2rem;
}

.icon {
	width: 1.25rem;
	margin-right: .3rem;
	vertical-align: middle;

	-webkit-filter: invert(36%);
	        filter: invert(36%);
}


.loading-screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.loading-screen__message {
	max-width: 220px;
	font-size: 2rem;
	text-align: center;
}


@media screen and (max-width: 31rem) {
	.container {
		margin: 5% 0;
	}

	.user {
		margin: .65rem;
	}
}
