@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
	background: #F1ECE0;
	color: #0C030B;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 7% 10%;
}

h1 {
	text-align: center;
	margin-bottom: .7rem;
}

div.users {
	margin-top: .3rem;
}

div.row {
	display: flex;
	flex-direction: row;
}

.user {
	max-width: 128px;
	background: #98B8C0;
	border-radius: 5px;
	padding: 0 0 5px 0;
	margin: 10px;
	display: flex;
	text-align: center;
	flex-direction: column;
	flex: 1;
	-webkit-box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	-moz-box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	box-shadow: 0px 1px 25px -3px rgba(119,119,119,0.29);
	overflow: hidden;
}

.user:hover {
/*	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/

	cursor: pointer;
}

.user--name {
	margin-top: .5rem;
	margin-bottom: 1.5rem;
	font-weight: 400;
}

.user img {
	display: block;
	margin: 0;
	width: 100%;
}


.sort {
	display: flex;
	visibility: hidden;
}

.sort--label {
	margin-left: auto;
	margin-top: 1.2rem;
}

.sort--select {
	margin: .75rem 2rem .75rem .8rem;
	padding: .5rem;
	background: transparent;
	color: #0C030B;
	font-family: inherit;
}

.sort--select:focus {
	outline: none;
}


div.main {
	z-index: 1;
	position: relative;
}


/* Modal Window */
div.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(13, 13, 13, .2);
	opacity: 0;
}

div.info {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* for IE 9 */
	-webkit-transform: translate(-50%, -50%); /* for Safari */
	background: #F1ECE0;
	text-align: center;
	width: 300px;
	vertical-align: middle;
	height: 400px;
	opacity: 0;
	font-size: .9rem;
	border-radius: 10px;
	overflow: hidden;
}

div.info p#closeWindow {
	background: #580A15;
	color: #F1ECE0;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 5px;
	width: 10%;
	font-size: 1.2rem;
	padding: .3rem .5rem;
	border-radius: 0 0 0 2px;
}

div.info p#closeWindow:hover {
	cursor: pointer;
}

.modal--backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.icon {
	vertical-align: middle;
	margin-right: .3rem;
	width: 1.25rem;
	filter: invert(36%);
}

.loading-screen {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.loading-screen--message {
	line-height: 100vh;
	text-align: center;
	font-size: 2rem;
}